
/* highliting is orange rather than black */

::-moz-selection { /* Code for Firefox */
  
  background: #9BF2FA;
}

::selection {
  
  background: #9BF2FA;
}



/* Navbar and navigation */


.navbar-brand {
	
	
	font-weight: 800!important;
	font-family: 'Crimson Text', serif!important;
	font-size: 1.3em!important;
	padding-top: 12px!important;
	
}


.navbar {
   
 box-shadow: 0 2px 6px 0 rgba(0,0,0,.12),inset 0 -1px 0 0 #dadce0;
}

.nav-link {


	
}

.navbar-nav li> a {
	
	

	
}

.navbar-nav li.active > a {
	
text-decoration: underline;	

	
}

.navbar-nav li:hover {
	
text-decoration: underline;	

	
}

/* Body */



img {

max-width: 100%;

}


html {
  font-size: 100%;
  color: #333333 !important;
}


.container {
  margin: 0 auto;
padding: 1em;

  width: 100% !important;
	max-width: 45em !important;
	
	background-color: white; 
	
}

body {
	
	font-size: 20px !important;
	height: 100%;
	background-color: white!important;
	color: #333333 !important;
	padding-top: 3.5em!important;
	
}

p {

font-size: 20px !important;
	
  line-height: 1.75em !important;
color: #333333 !important;
font-family: 'Cabin', Helvetica, Arial, sans-serif !important;
}

/* Drop cap */

p:first-child:first-letter {
	
float: left;	
font-family: 'Crimson Text', serif!important;	
  padding-top: 9px;
  padding-right: 8px;
  padding-left: 3px;	
  font-size: 80px !important;;	
	
}


/* main headline, container and H1 */

.topHalf {


background-color: white!important;

}


.headlinecontainer {
  margin: 0 auto;
  width: 100% !important;
max-width: 45em!important;	
}

h1{

 
  word-break: normal;

   hyphens: auto;



}

.highliterAffect  {
	
	
	background: linear-gradient(to top, #9BF2FA 50%, transparent 50%);
	
	
	
}

.box {

	padding: 0.25em;
text-align: left;
margin-bottom: 2em;

}


/* Bolding is orange */




strong {
	
	
	background-color: #9BF2FA!important; 
	padding: 0.2em;
}




/* Back to top button */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #333333; /* Set a background color */
    color: white; /* Text color */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 21px; /* Increase font size */
}

#myBtn:hover {
    background-color: #ffffff; /* Add a dark-grey background on hover */
	border: 1px solid #333333;
	color: #333333;
}








/* Footer */

.wrapper-footer {
 
  border-top: 1px solid #ddd;
  
  margin-top: 3em;
}

footer {
  padding: 20px 0;
  text-align: center;
	background-color: white;
}

#bottomcontainer

{
	
	
color: #333333!important;	
	
}


p .footer {
	
	
	color: wh ite !important;
	
}



/* Headlines */

h1 {
font-weight: 700!important;
	 font-family: 'Crimson Text', serif!important;
	 padding-top: 1em !important;
	
color: #333333 !important;
}

h2 {
font-weight: 700!important;
padding-top: 1.5em;

font-family: 'Crimson Text', serif!important;
color: #333333 !important;

}

h3 {
font-weight: 400!important;
padding-top: 1em;
font-family: 'Crimson Text', serif!important;
text-decoration: underline;
color: #333333 !important;
}

h4 {
font-weight: 400!important;
padding-top: 1em;

font-family: 'Crimson Text', serif!important;
color: #333333 !important;
}






/* Phone display only */


@media (max-width: 768px) {
/* for mobile devices */

.display-1 {
	font-family: 'Crimson Text', serif!important;
font-size: 2.5em !important;
font-weight: 700 !important;
line-height: 1.0;
}

    .display-2 {
		font-family: 'Crimson Text', serif!important;
        font-size: 2.5em !important;
        font-weight: 700 !important;
        line-height: 1.0;
    }

    .display-3 {
		font-family: 'Crimson Text', serif!important;
        font-size: 1.5em !important;
        font-weight: 700 !important;
        line-height: 1.0;
    }

    .display-4 {
		font-family: 'Crimson Text', serif!important;
        font-size: 1.5em !important;
        font-weight: 700 !important;
        line-height: 1.0;
    }
}
